.ChatsList-container {
  position: relative;
  font-family: 'Lato';
  padding: 10px 0;
  background-color: inherit;
}

.ChatsList-header {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ChatsList-title {
  color: #E0E0E0;
  font-size: 20px;
  font-family: 'Lato';
}

.ChatsList-chat {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: inherit;
}

.ChatsList-chat:hover {
  background-color: #1D2547;
  cursor: pointer;
}

.ChatsList-newChat-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.25s;
  color: #A7ABAB;
  font-size: 20px;
}

.ChatsList-newChat-btn:hover {
  color: white;
  cursor: pointer;
}
