@import url('https://fonts.googleapis.com/css?family=Lato');

.ChatsList-container {
  position: relative;
  font-family: 'Lato';
  border-bottom: 5px solid #1D2547;
  padding: 10px 0;
}

.ChatsList-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ChatsList-chat {
  display: flex;
  align-items: center;
  width: 100%;
}

.ChatsList-chat:hover {
  background-color: #1D2547;
  cursor: pointer;
}

.ChatsList-newChat-btn {
  border-radius: 50%;
  padding: 15px;
  background-color: #DB0500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  box-shadow: 0 1px 3px 1px gray;
  transition: bottom 0.25s;
  color: white;
  font-size: 35px;
}

.ChatsList-newChat-btn:hover {
  background-color: #B20400;
  cursor: pointer;
  bottom: 27px;
}
