.NameGroup-container {
  padding: 15px;
  display: flex;
  border-bottom: 3px solid #26315E;
  background-color: #1D2547;
  align-items: center;
  justify-content: space-between;
}

.NameGroup-container form {
  flex: 1;
  display: flex;
}

.NameGroup-container form input {
  flex: 1;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 0;
  padding-left: 10px;
  font-size: 15px;
  background-color: #1D2547;
  color: #E0E0E0;
  font-family: 'Lato';
}

.NameGroup-container form input:focus {
  outline: none;
}

.NameGroup-container form input::placeholder {
  font-size: 15px;
  font-family: 'Lato';
  color: #CCCCCC;
}

.NameGroup-icon {
  padding: 5px;
  height: 25px;
  width: 25px;
  border: 1px solid #2E2E2E;
  border-radius: 50%;
  background-color: #E0E0E0;
  color: #2E2E2E;
}
