.ChatsPre-chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.ChatsPre-chat:hover {
  background-color: #E3E8E8;
  cursor: pointer;
}

.ChatsPre-chat-top {
  background-color: inherit;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.ChatsPre-chat-top div:first-child {
  color: #242424;
  display: flex;
  align-items: center;
}

.ChatsPre-chat-header {
  max-width: 80%;
  white-space: nowrap;
  text-overflow: clip;
  overflow: auto;
  padding-left: 5px;
}

.ChatsPre-chat-icon {
  font-size: 20px;
}

.ChatsPre-chat-bottom p {
  color: #7F7F7F;
}

.ChatsPre-chat:hover .ChatsPre-time {
  background-color: inherit;
}

.ChatsPre-time {
  padding-left: 10px;
  z-index: 2;
  background-color: inherit;
  white-space: nowrap;
  text-overflow: clip;
  color: #7F7F7F;
  position: absolute;
  right: 0;
  height: 100%;
}
