.ChatsPre-chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.ChatsPre-chat:hover {
  background-color: #2B2B2B;
  cursor: pointer;
}

.ChatsPre-chat-top {
  display: flex;
  justify-content: space-between;
}

.ChatsPre-time {
  padding-left: 10px;
  z-index: 2;
}
