.SingleChat-container {
  width: 75%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.SingleChat-messages-container {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.SingleChat-message {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.SingleChat-message-position-currentUser, .SingleChat-message-position-otherUser {
  display: flex;
  flex-direction: column;
}

.SingleChat-message-color-currentUser, .SingleChat-message-color-otherUser {

}

.SingleChat-message-position-currentUser {
  align-self: flex-end;
}

.SingleChat-message-color-currentUser {
  background-color: lightblue;
}

.SingleChat-message-position-otherUser {
  align-self: flex-start;
}

.SingleChat-message-color-otherUser {
  background-color: lightgray;
}

.SingleChat-message-info {
  display: flex;
}

.SingleChat-user {
  font-size: 13px;
}

.SingleChat-userIsOnline {
  background-color: green;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.SingleChat-message {
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
}

.SingleChat-form-container {
  flex: 0;
}

.SingleChat-form-container form {
  height: 100%;
  width: 100%;
  display: flex;
}

.SingleChat-form-container form input {
  padding: 15px;
  font-size: 15px;
  flex: 1;
}

.SingleChat-form-container form button {
  padding: 5px 10px;
}
