.SingleChat-container {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  padding: 0 10px 10px;
  font-family: 'Lato';
  max-height: 100vh;
}

.SingleChat-header-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #D1D1D1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.SingleChat-chat-icon {
  font-size: 35px;
  color: #323233;
  margin-right: 10px;
}

.SingleChat-title-container {
  display: flex;
  align-items: center;
  color: #323233;
  max-width: 40%;
  flex: 1;
}

.SingleChat-title {
  display: flex;
  align-items: center;
}

.SingleChat-title h2 {
  font-size: 18px;
  color: #323233;
}

.SingleChat-edit-title {
  font-size: 16px;
  margin-left: 10px;
  color: #676669;
}

.SingleChat-edit-title:hover {
  color: #4D64BF;
  cursor: pointer;
}

.SingleChat-edit-input {
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #676669;
  padding: 5px 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

.SingleChat-edit-input {
  outline: none;
}

.SingleChat-edit-name-btn {
  border: none;
  background-color: #4D64BF;
  margin-left: 7px;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 3px;
  color: #F7F7F7;
  font-family: 'Lato';
}

.SingleChat-edit-name-btn:hover {
  background-color: #39498C;
  cursor: pointer;
}

.SingleChat-cancel-edit-name {
  font-size: 24px;
  margin-left: 5px;
  color: #676669;
}

.SingleChat-cancel-edit-name:hover {
  cursor: pointer;
  color: #1B1C1C;
}

.SingleChat-header-options {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.SingleChat-users-toggle {
  display: inline-block;
  font-size: 12px;
  text-decoration: underline;
  margin: 0 5px;
}

.SingleChat-users-toggle:hover {
  color: #4D64BF;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .SingleChat-header-container {
    flex-direction: column;
    max-height: 20%;
    max-width: 100%;
  }

  .SingleChat-header-options, .SingleChat-title-container {
    max-width: 100%;
    width: 100%;
  }

  .SingleChat-header-options {
    margin-top: 5px;
    flex-wrap: wrap-reverse;
    overflow: scroll;
    flex-direction: row-reverse;
  }
}

.SingleChat-user {
  box-sizing: border-box;
  margin: 0 0 0 3px;
  display: flex;
  align-items: center;
  padding: 1px;
  font-size: 13px;
  color: #575757;
}

.SingleChat-user:first-child {
  margin: 0;
}

.SingleChat-user p {
  margin: 0 2px;
  white-space: nowrap;
}

.SingleChat-user div {
  margin: 2px;
}

.SingleChat-messages-container {
  padding: 20px 20px 10px;
  flex: 1;
  overflow-y: scroll;
}

.SingleChat-message-container {
  display: flex;
}

.SingleChat-message {
  display: flex;
  flex-direction: column;
  padding: 0 0 2px 10px;
  flex: 1;
}

.SingleChat-currentUser, .SingleChat-otherUser {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 75%;
}

.SingleChat-currentUser {
  align-self: flex-end;
}

.SingleChat-otherUser {
  align-self: flex-start;
}

.SingleChat-currentUser-color {
  background-color: #D6D6D6;
}

.SingleChat-otherUser-color {
  background-color: #ABC9FF;
}

.SingleChat-message-info {
  display: flex;
  position: relative;
  align-items: center;
}

.SingleChat-message-info.curUser {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.SingleChat-message:hover .SingleChat-bookmark-icon {
  display: inline-block;
}

.SingleChat-message-info p {
  margin: 0 3px 6px;
  font-size: 13px;
}
.SingleChat-time-message {
  font-size: 13px;
}

.SingleChat-userIsOnline, .SingleChat-userIsOffline {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #575757;
  box-sizing: border-box;
}

.SingleChat-userIsOnline {
  background-color: #1BA84F;
  border: none;
}

.SingleChat-title-container .SingleChat-userIsOnline-large {
  background-color: #1BA84F;
  height: 12px;
  width: 12px;
  margin-left: 10px;
  border-radius: 50%;
}

.SingleChat-title-container .SingleChat-userIsOffline-large {
  margin-left: 10px;
  background-color: transparent;
  box-sizing: border-box;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid #575757;
}

.SingleChat-otherUser .SingleChat-message-text-container {
  display: flex;
  justify-content: flex-start;
}

.SingleChat-currentUser .SingleChat-message-text-container {
  display: flex;
  justify-content: flex-end;
}

.SingleChat-message-text {
  border-radius: 10px;
  padding: 7px 10px;
  /*font-size: 16px;*/
  display: inline-block;
  margin: 5px 0;
  color: #2B2B2B;
}

.SingleChat-form-container {
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  margin: 0 20px 15px;
  flex: 0;
}

.SingleChat-form-container form {
  height: 100%;
  width: 100%;
  display: flex;
}

.SingleChat-form-container form input {
  background-color: transparent;
  border: none;
  padding: 15px;
  font-size: 15px;
  flex: 1;
}

.SingleChat-form-container form input:focus {
  outline: none;
}

.SingleChat-form-container form input:focus .SingleChat-form-container {
  border: 1px solid #575757;
}

.SingleChat-form-container form button {
  padding: 5px 10px;
}

.SingleChat-typing-container {
  display: flex;
  padding-left: 20px;
}

.SingleChat-typing {
  margin: 10px;
  padding: 8px;
  background-color: #4D64BF;
  display: flex;
  box-sizing: border-box;
  border-radius: 5px;
  flex: 0;
}

.SingleChat-typing p {
  font-size: 16px;
  color: white;
  font-family: 'Lato';
}

.SingleChat-time, .SingleChat-new {
  padding: 20px 0;
  height: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.SingleChat-time h4, .SingleChat-new h4 {
  z-index: 1;
  background-color: white;
  padding: 0 10px;
  color: #2B2B2B;
}

.SingleChat-new h4 {
  color: red;
}

.SingleChat-line {
  border-bottom: 1px solid #D1D1D1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.SingleChat-line.red {
  border-bottom: 1px solid red;
}

.SingleChat-bookmark-icon {
  display: none;
  font-size: 18px;
  color: #616161;
}

.SingleChat-bookmark-icon:hover {
  cursor: pointer;
  color: #4D64BF;
}

.SingleChat-starred {
  display: inline-block;
  color: #1D2547;
}

.SingleChat-bookmark-icon.bookmarking {
  display: inline-block;
  color: #4D64BF;
}

.SingleChat-starred:hover {
  cursor: default;
  color: #1D2547;
}

.SingleChat-message .SingleChat-bookmark-form {
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #8F8F8C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleChat-bookmark-form select {
  background: #1EBA57 url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
  color: white;
  font-family: 'Lato';
  height: 30px;
  border: none;
  font-size: 16px;
}

.SingleChat-bookmark-form select:hover {
  background-color: #16873F;
  cursor: pointer;
}

.SingleChat-bookmark-form.right {
  right: 105%;
}

.SingleChat-bookmark-form.left {
  left: 105%;
}

.SingleChat-bookmark-form h4 {
  font-size: 12px;
  font-family: Arial;
}

.SingleChat-bookmark-form > * {
  margin: 2px 0;
}

.SingleChat-bookmark-close {
  position: absolute;
  right: 1px;
  top: 1px;
  color: #8F8F8C;
}

.SingleChat-bookmark-close:hover {
  color: #4F4F4D;
  cursor: pointer;
}

.SingleChat-bookmark-btn {
  border: none;
  display: inline-block;
  font-family: 'Lato';
  font-size: 18px;
  background-color: #4D64BF;
  color: white;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 20px;
}

.SingleChat-bookmark-btn:hover {
  background-color: #39498C;
  cursor: pointer;
}

.Message-user-icon {
  height: 40px;
  width: 40px;
}
