.SingleChat-container {
  /*width: 75%;*/
  border: 1px solid black;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  flex-direction: column;
}


.SingleChat-header-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.SingleChat-icon {
  font-size: 20px;
}

.SingleChat-title {
  display: flex;
  align-items: center;
}

.SingleChat-title div, .SingleChat-title svg {
  margin: 3px;
}

.SingleChat-header-options {
  display: flex;
}


.SingleChat-user {
  border: 1px solid #878784;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 3px;
  display: flex;
  align-items: center;
  padding: 1px;
  font-size: 13px;
}

.SingleChat-user p, .SingleChat-user div {
  margin: 2px;
}

.SingleChat-messages-container {
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
}

.SingleChat-message {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.SingleChat-message-position-currentUser, .SingleChat-message-position-otherUser {
  display: flex;
  flex-direction: column;
}

.SingleChat-message-position-currentUser {
  align-self: flex-end;
}

.SingleChat-message-color-currentUser {
  background-color: lightblue;
}

.SingleChat-message-position-otherUser {
  align-self: flex-start;
}

.SingleChat-message-color-otherUser {
  background-color: lightgray;
}

.SingleChat-message-info {
  display: flex;
}

.SingleChat-message-info p {
  margin: 3px;
}

.SingleChat-user-message {
  font-size: 13px;
}

.SingleChat-time-message {
  font-size: 13px;
}

.SingleChat-userIsOnline, .SingleChat-userIsOffline {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.SingleChat-userIsOnline {
  background-color: green;
}

.SingleChat-userIsOnline-large {
  background-color: green;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.SingleChat-message {
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
}

.SingleChat-form-container {
  flex: 0;
}

.SingleChat-form-container form {
  height: 100%;
  width: 100%;
  display: flex;
}

.SingleChat-form-container form input {
  padding: 15px;
  font-size: 15px;
  flex: 1;
}

.SingleChat-form-container form button {
  padding: 5px 10px;
}

.SingleChat-typing-container {
  display: flex;
}

.SingleChat-typing {
  margin: 10px;
  padding: 5px;
  background-color: #333332;
  display: flex;
  box-sizing: border-box;
  border-radius: 5px;
  flex: 0;
}

.SingleChat-typing p {
  font-size: 13px;
  color: white;
}

.SingleChat-time {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.SingleChat-time h4 {
  z-index: 1;
  background-color: white;
  padding: 0 10px;
}

.SingleChat-line {
  border-bottom: 1px solid lightgray;
  position: absolute;
  top: 50%;
  width: 100%;
}
