.Dashboard-container {
  height: 100vh;
  display: flex;
  flex: 1;
}

.Dashboard-main-container {
  border: 1px solid black;
  display: flex;
  flex: 4;
  box-sizing: border-box;
  flex-direction: column;
}


.Dashboard-sections-container {
  display: flex;
  flex: 1;
}
