.Dashboard-main-container {
  width: 75%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.Dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Dashboard-sections-container {
  display: flex;
  flex: 1;
}
