.BookmarksPre-bookmark {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #242424;
}

.BookmarksPre-bookmark:hover {
  background-color: #E3E8E8;
  cursor: pointer;
}

.BookmarksPre-bookmark div:first-child {
  display: flex;
  flex-wrap: wrap;
}

.BookmarksPre-bookmark div:last-child p {
  white-space: wrap;
  color: #7F7F7F;
}

.BookmarksPre-bookmark-icon {
  font-size: 20px;
  flex-basis: 20px;
  padding-right: 5px;
}
