.UserProfile-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Lato';
  max-width: 350px;
  min-width: 350px;
  border-left: 2px solid #BFBFBF;
  border-bottom: 2px solid #BFBFBF;
  min-height: 100vh;
  max-height: 100vh;
}

.UserProfile-nav {
  background-color: #E0E0E0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #BFBFBF;
  z-index: 1;
  box-sizing: border-box;
}

.UserProfile-nav.edit {
  justify-content: flex-start;
}

.UserProfile-close-icon, .UserProfile-back-icon {
  font-size: 25px;
  transition: color 0.15s;
}

.UserProfile-close-icon:hover, .UserProfile-back-icon:hover {
  cursor: pointer;
  color: #4D64BF;
}

.UserProfile-nav-icon {
  font-size: 20px;
}


.UserProfile-main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

.UserProfile-main {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.UserProfile-top {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #BFBFBF;
  box-sizing: border-box;
  min-height: 350px;
}

.UserProfile-bottom {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 0;
  box-sizing: border-box;
  min-height: 300px;
}

.UserProfile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  box-sizing: border-box;
}

.UserProfile-profile-image {
  height: 100%;
  border: 1px solid #BFBFBF;
}

.UserProfile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E0E0E0;
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserProfile-image.square {
  border-radius: 0;
  border: 3px dashed #C4C4C4;
}

.UserProfile-image-processing {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #26315E;
  animation: imageProcessing 3s linear infinite;
  color: white;
}

.UserProfile-file-label {
  padding: 7px 12px;
  background-color: #4D64BF;
  display: flex;
  color: white;
  align-items: center;
  border-radius: 3px;
  width: 175px;
}

.UserProfile-file-label:hover {
  background-color: #39498C;
  cursor: pointer;
}

.UserProfile-file-label .UserProfile-file-label-icon {
  font-size: 20px;
  margin-right: 5px;
}

.UserProfile-file-label h3 {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 75%;
}

.UserProfile-file-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.UserProfile-exit-add-photo {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: color 0.15s;
}

.UserProfile-exit-add-photo:hover {
  cursor: pointer;
  color: #4D64BF;
}

@keyframes imageProcessing {
  0% { background-color: #26315E }
  25% { background-color: #3F519C }
  50% { background-color: #4D64BF }
  75% { background-color: #3F519C }
  100% { background-color: #26315E }
}

.UserProfile-image:hover .UserProfile-add-prompt {
  display: flex;
  background-color: #3B3B3B;
  border-radius: 50%;
  cursor: pointer;
}

.UserProfile-image-submit {
  padding: 5px 12px;
  background-color: #1EBA57;
  color: white;
  border: none;
  font-size: 1em;
  margin-top: 20px;
  border-radius: 3px;
}

.UserProfile-image-submit:hover {
  cursor: pointer;
  background-color: #16873F;
}

.UserProfile-image-submit:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: #1EBA57;
}

.UserProfile-add-prompt {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
}

.UserProfile-image .UserProfile-add-prompt.hide {
  display: none;
}

.UserProfile-user-icon {
  color: #3B3B3B;
  font-size: 150px;
  box-sizing: border-box;
}

.UserProfile-name {
  padding: 10px;
  display: flex;
  font-size: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.UserProfile-online, .UserProfile-not-online {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.UserProfile-online {
  background-color: #1BA84F;
}

.UserProfile-not-online {
  background-color: transparent;
  border: 1px solid #575757;
}

.UserProfile-options {
  padding: 10px;
  padding-bottom: 20px;
}

.UserProfile-btn {
  margin: 3px;
  padding: 7px 12px;
  font-size: 16px;
  background-color: #4D64BF;
  color: white;
  border-radius: 3px;
  border: none;
  // border: 1px solid #D1D1D1;
}

.UserProfile-btn:hover {
  cursor: pointer;
  background-color: #39498C;
}

.UserProfile-btn:focus {
  outline: none;
}

.UserProfile-info-container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.UserProfile-info {
  padding: 5px;
  display: flex;
  width: 75%;
}

.UserProfile-title {
  width: 30%;
  color: #A1A1A1;
}

.UserProfile-data {
  width: 70%;
}

.UserProfile-signout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 24px;
  color: white;
  padding: 10px 0;
  margin-bottom: 5%;
}

.UserProfile-signout p {
  width: 40%;
  background-color: #D84435;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  border-radius: 3px;
}

.UserProfile-signout p:hover {
  background-color: #A13227;
  cursor: pointer;
}
