.ChatPeak-container {
  width: 100%;
  display: flex;
  padding: 5px 3px;
  box-sizing: border-box;
  background-color: inherit;
}

.ChatPeak-icon-container {
  padding: 2px;
  box-sizing: border-box;
  width: 15%;
}

.ChatPeak-icon-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #ABC9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatPeak-icon {
  font-size: 25px;
  color: #3762ED;
}

.ChatPeak-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  background-color: inherit;
}

.ChatPeak-info {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: inherit;
}


.ChatPeak-header-container {
  /*flex: 0;*/
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0 1px;
}

.ChatPeak-time-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1px 0 5px;
  background-color: inherit;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  right: 0;
}

.ChatPeak-header {
  font-size: 16px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: clip;
}

.ChatPeak-time {
}

.ChatPeak-time {
  color: #939696;
  font-size: 13px;
  white-space: nowrap;
}
