.LastMessage-container {
  padding: 0 1px;
  box-sizing: border-box;
  width: 100%;
}

.LastMessage {
  color: #A7ABAB;
  font-size: 14px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: clip;
}
.highlight {
  font-weight: 900;
}
