.SideNav-container {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  z-index: 1;
}

.SideNav-header {
  color: white;
  font-size: 20px;
  margin-left: 10%;
  font-family: Arial;
}

.SideNav-icon {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.SideNav-icon:hover {
  color: #FFFFFF;
}

.SideNav-home {
  margin: 0;
}
