// could be consolidated with NameGroup

.SearchContacts-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 6px solid #26315E;
  background-color: #1D2547;
}

.SearchContacts-container form {
  flex: 1;
  display: flex;
}

.SearchContacts-container form input {
  flex: 1;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 0;
  padding-left: 10px;
  font-size: 15px;
  background-color: #1D2547;
  font-family: 'Lato';
  color: #E0E0E0;
}

.SearchContacts-container form input:focus {
  outline: none;
}

.SearchContacts-container form input::placeholder {
  font-size: 15px;
  font-family: 'Lato';
}

.SearchContacts-icon-search {
  padding: 5px;
  height: 25px;
  width: 25px;
  color: #E0E0E0;
}

.SearchContacts-groupmember {
  border-radius: 10px;
  background-color: lightgray;
  margin: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchContacts-groupmember p {
  color: white;
}
