.SidePanel-container {
  width: 25%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #26315E;
  min-width: 335px;
  position: relative;
  padding-bottom: 5em;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100vh;
}

.SidePanel-contacts-container {
  overflow-y: scroll;
}

.SidePanel-footer {
  background-color: #1D2547;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

.SidePanel-logo-icon {
  color: white;
  font-size: 1.5em;
}

.SidePanel-footer h1 {
  color: white;
  font-weight: 900;
  font-size: 1.5em;
  font-family: 'Lobster';
}

.SidePanel-search-other-users {
  padding: 10px;
  margin: 20px 10px 10px;
  border-radius: 3px;
  background-color: #4D64BF;
  color: white;
  font-family: 'Lato';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SidePanel-search-other-users:hover {
  background-color: #40539E;
  cursor: pointer;
}

.SidePanel-search-other-users-icon {
  color: white;
  font-size: 2em;
}

.SidePanel-search-other-users-icon.waves {
  margin-right: 5px;
}

.SidePanel-search-other-users .container {
  display: flex;
  align-items: center;
}
