.CreateGroup-container {
  padding: 15px;
  display: flex;
  align-items: center;
}

.CreateGroup-container h2 {
  font-size: 20px;
  margin-left: 2%;
  color: #2E2E2E;
}

.CreateGroup-icon {
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  background-color: #2E2E2E;
}
