.CreateGroup-container {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #26315E;
}

.CreateGroup-container:hover {
  background-color: #1D2547;
  cursor: pointer;
}

.CreateGroup-container h2 {
  font-size: 20px;
  font-weight: normal;
  margin-left: 5%;
  color: #E0E0E0;
  font-family: 'Lato';
}

.CreateGroup-icon {
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #2E2E2E;
  background-color: #E0E0E0;
}
