.AddChat-contact-container {
  
}

.AddChat-container {
  overflow-y: scroll;
  flex: 1;
}

.AddChat-form-container {
  position: relative;
}

.AddChat-icon-check {
  position: absolute;
  top: -20px;
  right: 10px;
  font-size: 30px;
  background-color: #35991E;
  color: white;
  padding: 10px;
  border-radius: 50%;
  z-index: 4;
}

.AddChat-icon-check:hover {
  background-color: #2A7A18;
  cursor: pointer;
}
