.ChatsList-container {
  width: 25%;
  border: 1px solid black;
  flex: 1;
}

.ChatsList-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ChatsList-chat {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
}

.ChatsList-chat:hover {
  background-color: #EDF2F2;
  cursor: pointer;
}
