.ChatsList-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ChatsList-chat {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
}

.ChatsList-chats-container {
  position: relative;
  flex: 1;
}

.ChatsList-chat:hover {
  background-color: #EDF2F2;
  cursor: pointer;
}

.ChatsList-newChat-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #DB0500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  box-shadow: 0 1px 3px 1px gray;
}

.ChatsList-newChat-icon {
  color: white;
  font-size: 35px;
}
