.Bookmarks-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  padding: 0 10px;
  font-family: 'Lato';
}

.Bookmarks-title-container {
  display: flex;
}

.Bookmarks-header {
  padding: 10px 0;
  color: #1D2547;
  border-bottom: 1px solid #D1D1D1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Bookmarks-header-icon {
  color: #1D2547;
  font-size: 35px;
  padding: 0 10px;
}

.Bookmarks-create-category form {
  display: flex;
  align-items: center;
}

.Bookmarks-create-category form input {
  padding: 8px;
  font-size: 16px;
  font-family: 'Lato';
  border: 1px solid #D1D1D1;
  border-radius: 3px;
}

.Bookmarks-create-category form input:focus {
  outline: none;
}

.Bookmarks-create-category button {
  border: none;
  background-color: #4D64BF;
  margin-left: 8px;
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  color: #F7F7F7;
  font-family: 'Lato';
}

.Bookmarks-create-category button:hover {
  background-color: #39498C;
  cursor: pointer;
  border: 1pxsolid #D1D1D1;
}

.Bookmarks-list-canvas {
  flex: 1;
  position: relative;
}

.Bookmarks-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.Bookmarks-author {
  font-weight: bold;
}

.Bookmarks-date {
  font-style: italic;
  margin-top: 5px;
}

.Bookmarks-category {
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  // align-self: flex-start;
  display: inline-block;
  // flex-direction: column;
  border-radius: 3px;
  width: 300px;
  // max-width: 300px;
  // flex: 0 0 300px;
}

.Bookmarks-category:-moz-drag-over {
  background-color: #D1D1D1;
}

.Bookmarks-category-header {
  border-bottom: 1px solid #D1D1D1;
  color: #26315E;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // min-width: 300px;
}

.Bookmarks-category-title {
  display: flex;
  align-items: center;
}

.Bookmarks-category-privacy {
  display: flex;
  align-items: flex-end;
}

.Bookmarks-category-privacy.always-private:hover {
  color: inherit;
  cursor: auto;
}

.Bookmarks-category-privacy.always-private p {
  color: inherit;
}

.Bookmarks-category-privacy:hover {
  color: #4D64BF;
  cursor: pointer;
}

.Bookmarks-category-privacy p {
  font-size: 12px;
}

.Bookmarks-message {
  display: flex;
  padding: 10px;
  border-radius: 3px;
  background-color: #E0E0E0;
  box-sizing: border-box;
}

.Bookmarks-icon {
  color: #26315E;
}

.Bookmarks-message-container {
  padding: 5px 0;
  box-sizing: border-box;
  background-color: transparent;
}

.Bookmarks-message:hover {
  cursor: pointer;
  background-color: #C7C7C7;
}

.Bookmarks-message.Bookmark-clicked {
  background-color: #181824;
}

.Bookmarks-message-tools {
  left: 0;
  padding: 10px 0 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 1;
}

.Bookmarks-message-card {
  white-space: normal;
}
.Bookmarks-icon {
  font-size: 25px;
  margin-right: 5px;
}

.Bookmarks-default-msg {
  padding: 10px 0;
}

.Bookmarks-category-delete {
  // width: 100%;
  border: none;
  background: transparent;
  font-size: 10px;
  padding: 0;
  margin-bottom: 10px;
}

.Bookmarks-category-delete:hover {
  color: #F32818;
  cursor: pointer;
}

.Bookmarks-category-delete:focus {
  outline: none;
}

.Bookmarks-category-delete-danger {
  border: 2px solid #F32818;
  border-radius: 3px;
  padding: 10px;
  white-space: normal;
}

.Bookmarks-category-delete-danger h4 {
  font-size: 20px;
  color: #F32818;
}

.Bookmarks-category-delete-danger p {
  margin-top: 10px;
}

.Bookmarks-category-delete-danger div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.Bookmarks-category-delete-danger div button {
  border:none;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
}

.Bookmarks-category-delete-danger button:hover {
  cursor: pointer;
}

.Bookmarks-category-delete-danger button:first-child {
  background-color: #F32818;
  border: none;
  color: white;
}

.Bookmarks-category-delete-danger button:last-child {
  background-color: #F3CB18;
}
