.Bookmarks-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  padding: 0 10px;
  font-family: 'Lato';
}

.Bookmarks-header {
  padding: 10px 0;
  color: #1D2547;
  border-bottom: 1px solid #D1D1D1;
  display: flex;
  align-items: center;
}

.Bookmarks-header-icon {
  color: #1D2547;
  font-size: 35px;
  padding: 0 10px;
}

.Bookmarks-list {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.Bookmarks-category {
  padding: 10px;
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
}

.Bookmarks-category-header {
  border-bottom: 1px solid #D1D1D1;
  color: #1D2547;
  padding: 5px 0;
}

.Bookmarks-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Bookmarks-message {
  padding: 10px;
  background-color: #6F70A8;
  color: #DBDCEB;
  border-radius: 18px;
  margin: 5px 0;
  transition: 1s;
}

.Bookmarks-message.Bookmark-clicked {
  background-color: #181824;
}

.Bookmarks-message-tools {
  left: 0;
  padding: 10px 0 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 1;
}

.Bookmarks-icon {
  font-size: 25px;
  margin-right: 5px;
}

.Bookmarks-icon:hover {
  color: #B7B8C4;
  cursor: pointer;
}

.Bookmarks-icon-person {
  box-sizing: border-box;
  padding: 2px;
  background-color: #D6D8E5;
  border-radius: 50%;
  color: #9B9CA6;
}

.Bookmarks-icon-person:hover {
  color: #696970;
}

.Bookmarks-icon-singleopts {
  transition: transform 0.3s;
  transition-delay: 0.1s;
}

.Bookmarks-icon-singleopts:hover {
  transform: rotate(180deg);
}

.Bookmarks-icon-doubleopts {
  transform: rotate(180deg);
  transition: transform 0.3s;
  transition-delay: 0.1s;
}

.Bookmarks-icon-doubleopts:hover {
  transform: rotate(0);
}
