.EditProfile {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.EditProfile h2 {
  padding: 0 10px;
}

.EditProfile .field {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  box-sizing: border-box;
}

.EditProfile .input-container {
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid black;
  padding: 1px;
  box-sizing: border-box;
}

.EditProfile input {
  font-family: 'Lato';
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.EditProfile input:focus {
  outline: none;
}

.EditProfile button {
  margin: 10px;
  padding: 12px 25px;
  border: none;
  background-color: #1EBA57;
  border-radius: 3px;
  font-size: 18px;
  font-family: 'Lato';
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.EditProfile button:hover {
  cursor: pointer;
  border-bottom: 2px solid #16873F;
}

.EditProfile button:focus {
  outline: none;
}
