.ContactsList-container {
}

.ContactsList-container h3 {
  font-family: 'Lato';
}

.ContactsList-header {
  font-size: 13px;
  padding: 10px;
  color: #E0E0E0;
}

.ContactsList-contact {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #1D2547;
}

.ContactsList-contact:hover {
  background-color: #1D2547;
  cursor: pointer;
}

.ContactsList-icon-container {
  height: 40px;
  width: 40px;
}

.ContactsList-no-matches {
  padding: 10px;
  color: #E0E0E0;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Lato';
  background-color: #1D2547;
}

// .ContactsList-icon {
//   height: 25px;
//   width: 25px;
//   border-radius: 50%;
//   padding: 5px;
//   background-color: #ABC9FF;
//   font-size: 25px;
//   color: #3762ED;
// }

.ContactsList-contact p {
  margin-left: 5%;
  font-family: 'Lato';
  color: #E0E0E0;
}
