.DefaultMain-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
}

.DefaultMain-header {
  display: flex;
  align-items: center;
  color: #1D2547;
  padding: 10px 0;
}

.DefaultMain-home-icon {
  font-size: 30px;
  padding: 0 10px;
}

.DefaultMain-recent-container {
  // padding: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.DefaultMain-recent {
  background-color: #F2F7F7;
  min-width: 300px;
  margin: 10px;
  box-sizing: border-box;
  color: #26315E;
  border-radius: 3px;
  flex: 1;
  border: 1px solid #CCCCCC;
}

.DefaultMain-recent-header {
  padding: 10px;
  color: #E8EDED;
  // border-bottom: 2px solid #26315E;
  background-color: #26315E;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #26315E;

}
